trigger:
  branches:
    include:
      - main

variables:
- group: terraform-backend  # Variable Group din Library

pool:
  name: Default              # Folosește agentul local din Default pool

steps:
- checkout: self

- script: terraform --version
  displayName: 'Verifică versiunea Terraform'

- script: |
    export ARM_CLIENT_ID=$appId
    export ARM_CLIENT_SECRET=$password
    export ARM_TENANT_ID=$tenant

    terraform init
    terraform plan -out=tfplan
  displayName: 'Terraform Init & Plan'

- script: |
    terraform apply -auto-approve tfplan
  displayName: 'Terraform Apply'